<html>
  <head></head>
    <body>
    <% if number == params['guess'].to_i %>
      <p>
        The SECRET NUMBER is <%= number %>
      </p>
      <%end%>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!'/>
      </form>
      <p> <%= message %> </p>
    </body>
</html>

